/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  border: 1px solid black;
  padding: 1%;
  justify-content: space-around;
  align-items: center;
}

.ul-container {
  display: flex;
  border: 1px solid black;
  list-style-type: none;
  align-items: center;
}

li {
  border: 1px solid black;
  width: 100px;
  height: 50px;
}

.more {
  margin-left: 20px;
  height: 56px;
}
.img-nav {
  width: 210px;
  border: 1px solid blue;
  height: 70px;
}

.input-container {
  height: 56px;
  display: flex;
  padding-left: 30px;
}

.input-container input {
  width: 350px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title{
  width:420px;
  height: 115px;
  border: 1px solid red;
  margin: 40px auto;
  font-family: Mija;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  font-size: 36px;
  background-color: gray;
  text-align: center;
}


.bringBack {
  width: 230px;
    height: 62px;
    border: 1px solid red;
    right: 60px;
    position: absolute;
    margin-top: 40px;
}

.item{
  display:flex;
 align-items: center;
  flex-direction: column;
}

.item > div {
  width: 70%;
  margin-top:20px;
}


.article-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
  width: 100%;
}

article {
  
  border: 1px solid blue;
}

.articleTitle{
  font-size: 30px;
  margin: 10px auto;
}

.articleTitle span {
  font-size: 15px;
}

.art-container {
  display: flex;
  border: 1px solid blue;
}

.author-pic-container {
  width: 85px;
  height: 85px;
}

.authorp {
  color: #fff;
  font-size: 20px;
  }

  .wrote {
    font-size: ;
  }

.search-icon {
  width: 15px;
  height: 15px;
}

.author-pic-container img {
  max-width: 85px;
  max-height: 85px;
  transform: rotate(-15deg);
  transform-origin: left bottom;
}

.author-pic-container img:hover{
  object-fit: cover;
  display: block;
  transform: scale(1);
  transition: transform .2s ease-out;
}

.articleAuthor {
  margin-left: 10px;
  height: 23px;
  width: 200px;
  border: 1px solid red;
}

.articleTitle {
  height: 150px;
  border: 1px solid blue;
}

.articleTitle span {
  display: block;
  height: 25px;
  width: 150px;
  border: 1px solid red;
  padding: 5px;
  margin: 10px 0;
}

.categories {
  height: 40px;
  border: 1px solid red;
  display: flex;
}

.categories p {
  width: 200px;
  display: flex;
  justify-content: space-between;
  
}

a {
  text-decoration: none;
}

.categories > div {
  border: 1px solid red;
  height: 30px;
  width: fit-content;
  margin:5px;
  
}
 .arrow i{
  width: 15px;
  height: 15px;
  color: gray;
}

.related-articles{
  border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    padding: 40px 20px;
}
.relText{
  transition: all 0.2s ease-in-out;
  border: 1px solid green;
  width:33.33%;
  height:570px;
  padding:15px;
  line-height: 1em;

}
.rel-text{
  transition: all 0.2s ease-in-out;
  border: 1px solid green;
  width:25%;
  height:570px;
  padding:15px;
  line-height: 1em;

}
.rel-text:hover {
  transform: scale(1.05);
}

.barista-container {
  display: flex;
  justify-content: center;
}

.barista-container img {
  width: 258px;
  height: 290px;
}

.img-text {
  width:50%;
}
.img-text h2, p {
  text-align: center;
}

.a-button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1600px) {
  .last{
    display: none;
  }
  
}
@media screen and (min-width: 2000px) {
 .last{
  display: flex;
 }
}
@media screen and (min-width: 200px) {
  .bringBack{
   display: none;
  }
 }
 @media screen and (min-width: 1000px) {
  .bringBack{
   display: flex;
  }
 }

/*:hover transform: scale(10.5)
outline: none

transition: all 0.2s ease-in-out

transform: rotate(-15deg)
transform-origin: left bottom

<link href='http://fonts.googleapis.com/css?family=Average|Courgette' rel='stylesheet' type='text/css'>

<i class="fa fa-search"></i> */