/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  border: 1px solid black;
  padding: 1%;
  justify-content: space-around;
  align-items: center;
}

.ul-container {
  display: flex;
  border: 1px solid black;
  list-style-type: none;
  align-items: center;
}

li {
  border: 1px solid black;
  width: 100px;
  height: 50px;
}

.more {
  margin-left: 20px;
  height: 56px;
}
.img-nav {
  width: 210px;
  border: 1px solid blue;
  height: 70px;
}

.input-container {
  height: 56px;
  display: flex;
  padding-left: 30px;
}

.input-container input {
  width: 350px;
}

.main-title{
  border: 1px solid black;
  display: flex;
  justify-content: center;

}
.main-title span{
  width:420px;
  height: 115px;
  border: 1px solid red;
  margin: 40px auto;

 
}

.bringBack {
  width: 230px;
    height: 62px;
    border: 1px solid red;
    right: 60px;
    position: absolute;
    top: 135px;
}

.item{
  display:flex;
 align-items: center;
  flex-direction: column;
}

.item > div {
  width: 70%;
  margin-top:20px;
}


.article-container {
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 50%;
  border: 1px solid blue;
}

.art-container {
  display: flex;
  border: 1px solid blue;
}

.author-pic-container {
  min-width: 85px;
  min-height: 85px;
  border: 1px solid red;
}

.articleAuthor {
  margin-left: 10px;
  height: 23px;
  width: 200px;
  border: 1px solid red;
}

.articleTitle {
  height: 150px;
  border: 1px solid blue;
}

.articleTitle span {
  display: block;
  height: 25px;
  width: 150px;
  border: 1px solid red;
  padding: 5px;
  margin: 10px 0;
}

.categories{
  height: 40px;
  border: 1px solid red;
  display: flex;
}

.categories >div{
  border: 1px solid red;
  height: 30px;
  width: fit-content;
  margin:5px;
  
}
 .arrow i{
  width: 15px;
  height: 15px;
  color: gray;
}

/*:hover transform: scale(10.5)
outline: none

transition: all 0.2s ease-in-out

transform: rotate(-15deg)
transform-origin: left bottom

<link href='http://fonts.googleapis.com/css?family=Average|Courgette' rel='stylesheet' type='text/css'>

<i class="fa fa-search"></i> */